<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
           <h1>Aylian Text Analysis API</h1>
        </header>

        <main>


          <h2>Give it a shot! Submit an article URL and see whether Aylian deems it a positive or negative article.</h2>

            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="URL">
                    <input type="submit" URL="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <p id ="error"></p>
            <section>

            <section>
                <h3>Form Results:</h3>
                <div id="results">
                                      <ul>
                                          <li>
                                              <h3>Text Polarity:</h3>
                                              <i>Is the tone positive, neutral or negative?</i>
                                              <p id="polarity"></p>
                                          </li>

                                          <li>
                                              <h3>Polarity Confidence:</h3>
                                              <i>The confidence of the prediction</i>
                                              <p id="pConfidence"></p>
                                              </li>

                                      </ul>
                                  </section>
                </div>

            </section>
        </main>

        <footer>
            <p>Janelle Myers 2020 </p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
