form {
    border: 1px dotted round #545454;
    border-radius: 3px;
    padding: 40px;
    width: 70%;
    right: 60%;
    margin-left: 65px;
    background-color: #f8e1f4;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
