header {
    display: flex;
    justify-content: space-between;
    padding: 100px 500px;

}

h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: arial;
}

h2 {
  margin-left: 350px;
  font-size: 18px;
  margin-top: -10px;
  font-family: arial;
}

h3 {
  font-family: arial;
}
